@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

:root {
    --primary-color: #2C3333;
    --secondary-color: #395B64;
    --tertiary-color: #A5C9CA;
    --accent-color: #E7F6F2;
    --ship-color: gray;
    --carrier-color: #003865;
    --battleship-color: #EF5B0C;
    --submarine-color: #D4F6CC;
    --cruiser-color: #3CCF4E;
    --destroyer-color: #FEB139;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    font-family: 'Anton', sans-serif;
    height: 5vh;
    padding: 1rem;
    display: flex;
    align-items: center;
    min-width: 90vw;
    background-color: var(--primary-color);
}

.Title {
    font-size: 2rem;
    color: lightgray;
}

.content {
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.divide {
    height: 20vmin;
    width: 1px;
    background-color: lightgray;
}

.playerGridName, .opponentPlayerName {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.opponentPlayerName {
    background-color: var(--secondary-color);
    color: #fff;
}

.grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(11, auto);
    column-gap: 3px;
    row-gap: 3px;
}

.cell {
    width: 4.6vmin;
    aspect-ratio: 1;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--tertiary-color);
    transition: background-color .15s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cellCoord {
    width: 4.6vmin;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opponent > .grid > .cell {
    background-color: var(--secondary-color);
    transition: background-color .15s ease-in-out;
}

.opponent > .grid > .cell:hover {
    background-color: var(--tertiary-color);
}

/* missed shots */
.opponent > .grid > .cell.missedOpp {
    background-color: var(--tertiary-color);
}

.cell.missedPlayer {
    background-color: var(--secondary-color);
}

/* status */

.statusContainer {
    display: flex;
    min-width: 100vw;
    height: max(135px, 15vh);
    justify-content: center;
    align-items: center;
}

.Start {
    background-color: transparent;   
    padding: .5rem;
    font-size: large;
    transition: transform .1s ease-in-out;
    margin: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Start:hover {
    transform: scale(1.1);
}

/* ships container */

.battleshipVisualizer {
    position: absolute;
    width: min-content;
    height: min-content;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 3px;
    left: 0%;
}

.rotated {
    flex-direction: column;
    top: 0%;
}

.bodyPart {
    width: 4.6vmin;
    aspect-ratio: 1;
    transition: .1s;
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.status {
    font-size: 1.5em;
}

.status>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1vmin
}

/* Ships tray */
.mainPlayer {
    position: relative;
}

.shipsTray {
    position: absolute;
    right: 58vmin;
    display: none;
}

/* input name */
.playerOneNameSelector {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    display: none;
    align-items: center;
}

.inputContainer {
    display: flex;
}

.inputName {
    font-size: 1.2rem;
    width: 10vmax;
}

/* directional button */
.status {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.changeDirection {
    background-color: transparent;   
    padding: .5rem;
    font-size: large;
    transition: transform .1s ease;
    margin: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.changeDirection:hover {
    transform: scale(1.01);
}

/* test */
.cell.selected {
    background-color: var(--secondary-color);
}

.carrier {
    background-color: var(--carrier-color);
}

.battleship {
    background-color: var(--battleship-color);
}

.cruiser {
    background-color: var(--cruiser-color);
}

.submarine {
    background-color: var(--submarine-color);
}

.destroyer {
    background-color: var(--destroyer-color);
}

#hit {
    background-color: greenyellow;
}

#miss {
    background-color: red;
}

@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
    }

    .divide {
        height: 1px;
        width: 20vmin;
    }
}

@media screen and (max-width: 450px) {

    .statusContainer {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .status {
        text-align: center;
        padding-left: 2%;
        padding-right: 2%;
    }

    .content {
        flex-direction: column;
        margin-bottom: 10%;
        gap: 5vmin;
    }

    .cell {
        width: 7vmin;
    }

    .cellCoord {
        width: 7vmin;
    }

    .divide {
        height: 1px;
        width: 20vmin;
    }
}